
<div class="container">

  <div class="row">
    <div class="top-row-text">
      <h2> Tim Hammer </h2>
      <%= image_tag("prof.jpg", size: "232x247") %>
      <p class="top-row-text">
        I am a software developer currently living in Washington DC.
      </p>
    </div>
  </div>

  <div class="row">
    <h4> GovWizely </h4>
    <p> 
      Since September 2014, I have been working on open data search APIs and search apps for <a href="http://www.govwizely.com/">GovWizely</a>, 
      a contractor in Washington DC servicing primarily the Department of Commerce (DoC) and 
      General Services Administration (GSA).

      My work has mostly focused on contributing to the Internation Trade Administration (ITA)'s open data API, 
      <a href="https://api.trade.gov/">api.trade.gov</a>. 

      You can find out more information about this service, as well as documentation, here: 
      <a href="https://developer.trade.gov/">developer.trade.gov</a>.

      Since July of 2016, I have been focused on developing report-building front end apps that leverage our 
      endpoint-me feature, a tool on <a href="https://api.trade.gov/">api.trade.gov</a>
      that allows users to build their own JSON search endpoints in Elasicsearch with only a simple configuration file.
    </p>
  </div>

  <div class="row">
    <div>
    <h4> Bandy's Bakery </h4>
    </div>
    <p>
      <a href="http://bandysbakery.com/">Bandy's Bakery</a>
       is a work-in-progress side project I took on for a friend as an excercise in building a full-stack, 
       full-featured ecommerce site in Rails.
    </p>
  </div>

  <div class="row">
    <h4>Looking Ahead</h4>
    <p> 
      I am not currently looking for a new full time job, but am always interested in side projects. Particularly if it is something related to machine learning, AI, and 
      natural language processing, and would not take more than 10-15 hours a week.
    </p>
  </div>

  <div class="row">
    <h4> Online Presence in a Nutshell </h4>
    <div class="row-block">
    <ul>
      <li> 
        The best way to reach me is via email, <a href="mailto:tmhammer92@gmail.com?" target="_top">tmhammer92@gmail.com</a> 
        or for work-related, <a href="mailto:timh@govwizely.com?" target="_top">timh@govwizely.com</a>. 
      </li>
      <li> 
        <a href="https://github.com/tmhammer">Github</a>, where you can view most of the code I have written in the past 3 years.
      </li>
      <li> 
        <a href="https://www.instagram.com/tmhammer92/">Instagram</a>
      </li>
      <li> 
        <a href="https://twitter.com/timothy_hammer">Twitter</a>
      </li>
    </ul>
    </div>
  </div>

</div>

